<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" autocomplete="email" id="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="current-password" required />
    <div class="password error"></div>
    <button>Sign up</button>
</form>
<script src="js/signup.js"></script>

<%- include('partials/footer'); -%>
